@charset "UTF-8";

ul{
	background-color:black;
	
	color:white; 
	padding: 10px;
}
ul li{
	padding:10px;
	display: inline;
	}
ul li a{
	text-decoration: none;
	color:white;
}
input{
	width:400px;
	height:40px;
	
}
